@charset "UTF-8";
@font-face {
	font-family: logo;
	src: url("../font/impact.ttf");
}

html, body, #troll{
    height:100%;
    margin:0;
    overflow:hidden;
}

html {
	background: url("../image/cards/bf4bg2.jpg");
	background-size: cover;
	
	color:white;
	-webkit-user-select: none;
	font-family:"맑은 고딕";
}

input, textarea {background:black; border:1px solid white; color:white; display:block;}
input:focus, textarea:focus{border:1px solid orange; outline:none;}

#troll {
	display: flex;
	flex-direction: column;
	margin:0;
}

#header {
	overflow: hidden;
	
	flex: 0 1 auto;
	height: 30px;
	padding: 5px 10px;
	background: rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.9);
	line-height: 30px;
	
	z-index:1;
}

.at-logo {
	position: absolute;
	left: 50%; 
	margin-left: -50px;
	width: 120px; height: inherit;
	opacity: 0.8;
}
.at-logo-icon {
	display: inline-block;
	width:25px; height: 25px;
	background: url("../image/cards/Trollo.png") no-repeat ;
	background-size: 100%;
}
.at-logo-text {
	font-family: logo;
	font-size: 30px;
}
.at-activity-name, .at-activity-perm{display: inline-block; top:0px; overflow:hidden; white-space:nowrap;}
.at-activity-name{font-size: 25px; max-width:400px; text-overflow: ellipsis;}
.at-activity-perm{font-size: 15px; }

.at-menu{
	position:absolute;
	display:flex;
	flex-direction: column;
	
	top:0; left: calc(100% - 300px);
	width: 300px;
	max-height: 90%;
	
	overflow:hidden;
	border-radius: 2px;
	
	z-index:3;
}.at-menu.hide{left: 100%;}

.at-menubtn{
	float: right;
	width: 30px; height: 30px;
	
	background: rgba(255,255,255,0.7);
	border-radius: 3px;
	
	color: black;
	text-align: center;
	text-decoration: none;
}.at-menubtn.hide{display:none;}
.at-menu-icon{
	display: block;
	width:100%; height: 100%;
	background: url("../image/cards/gear.png") no-repeat ;
	background-size: 100%;
	background-position: center;
}
.at-menu-header,.at-menu-item{flex: 0 1 auto;}
.at-menu-content{flex:1;}
.at-menu-header{background:rgba(0,0,0,0.2);}
.at-menu-header-title{
	height:30px;
	margin:5px 10px;
	font-weight: bolder;
	text-align: center;
}
.at-menu-header-button{
	position: absolute;
	top:5px;
	width:30px; height:30px;
}.at-menu-header-button.hide{opacity:0;}
.at-close-icon{background: url("../image/cards/close.png") no-repeat; background-size: 100%; right:10px;}
.at-back-icon{background: url("../image/cards/arrow.png") no-repeat; background-size: 100%; left:10px;}

.at-menu-content{
	background: rgba(0,0,0,0.8);
	overflow-y: auto;
	border-top:1px dashed orange;
}
.at-menu-content::-webkit-scrollbar {width:10px;}
.at-menu-content::-webkit-scrollbar-track {border-left:1px solid orange;}
.at-menu-content::-webkit-scrollbar-thumb {background: orange;}
.at-menu-item{margin:2px 3px;}
.at-menu-item:hover{background:rgba(255,255,255,0.1);}
.at-menu-item-label{font-weight: bold;}

.at-button{
	display:inline-block;
	border:1px solid white;
	background:rgba(0,0,0,0.1);
	
	font-size:14px;
	text-decoration:none;
	line-height:20px;
	color:white;
}
.at-button-group, .at-input-group{display:flex; width:100%;}
.at-button-group > .at-button{flex:1; text-align:center;}
.at-button-group > .at-button.selected{border:1px solid orange; color:orange;}
.at-input-group > input{flex: 1 0 auto;}
.at-input-group > .at-button{background:white; width:20px; height:20px;}

.at-confirm-icon{display:block; height:100%;
background: url("../image/cards/confirm.png") no-repeat; background-size: 100%;}

#content {
	position: relative;
	flex: 1 1 auto;
	overflow:auto;
	z-index: 0;
}
#content::-webkit-scrollbar {width: 12px; height:12px;}
#content::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.2);
	border:1px solid white; border-right:none; border-bottom: none;
}
#content::-webkit-scrollbar-thumb {background: white;}
#content::-webkit-scrollbar-corner {background: white;}

#at-board{
	position:absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
    padding: 3px;
}
.at-board-list{
	position:absolute;
	width:250px;
	
	border:1px solid white;
	border-radius:3px;
	z-index: 2;
}
.at-board-list-header{
	padding:3px;
	border-bottom:1px solid white;
	background:rgba(32,32,32,0.9);
}
.at-list-name{
	display:inline-block;
	max-width:90%;
	
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.at-board-list-content{
	display:flex;
	flex-direction:column;
	background:rgba(32,32,32,0.5);
}
.at-board-list-content > div {
	margin:1px 2px;
	
	overflow:hidden;
}
.at-list-add{
	height:20px;
	line-height:20px;
	text-align:center;
	border:1px solid white;
}
.at-list-item{
	flex: 0 1 auto;
	min-height:40px;
	
	border-radius: 2px;
	background: rgba(224,224,224,0.2);
	
	white-space:nowrap;
	text-overflow:clip;
}

.at-list-icon{
	position:absolute; top:3px; right:3px;
	width:20px; height:20px;
	background: url("../image/cards/list.png") no-repeat;
	background-size: 100%;
}

.at-gottagofast{
	animation: gottagofast 0.25s;
	animation-iteration-count: infinite;
	z-index: 9999;
	border:1px solid orange;
}

.at-gottagofast > .at-board-list-header{border-bottom:1px solid orange;}
.at-gottagofast.faster{
	animation: gottagofaster 0.1s;
	animation-iteration-count: infinite;
}
@keyframes gottagofast {
	0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1deg); }
    20% { transform: translate(-4px, 0px) rotate(1deg); }
    30% { transform: translate(4px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(4px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 3px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-1deg); }
}
@keyframes gottagofaster {
	0% { transform: translate(2px, 2px) rotate(1deg); }
    10% { transform: translate(-7px, -12px) rotate(-3deg); }
    20% { transform: translate(-15px, 0px) rotate(3deg); }
    30% { transform: translate(15px, 10px) rotate(-1deg); }
    40% { transform: translate(10px, -10px) rotate(3deg); }
    50% { transform: translate(-10px, 12px) rotate(-3deg); }
    60% { transform: translate(-15px, 10px) rotate(1deg); }
    70% { transform: translate(15px, 10px) rotate(-3deg); }
    80% { transform: translate(-10px, -10px) rotate(3deg); }
    90% { transform: translate(7px, 12px) rotate(-1deg); }
    100% { transform: translate(10px, -12px) rotate(-3deg); }
}

.at-board-menulist{
	position: fixed;
	bottom: 0px;
	z-index: 1;
}
.at-board-menu{
	float:left;
	position: relative;
	
	min-width: 75px; min-height: 75px;
	width: 5vw; height:5vw;
	margin: 1vw 0.5vw;
	
	border: 0.1vw solid white;
	background: rgba(255,255,255,0.7);
	border-radius: 0.5vw;
}.at-board-menu.takeonme{border: 0.1vw solid orange; background: rgba(255,165,0,0.7);}
.at-addblock-icon{background: url("../image/cards/plus.png") no-repeat;}
.at-delblock-icon{background: url("../image/cards/trashbin.png") no-repeat;}
.at-addblock-icon, .at-delblock-icon{
	display: block;
	width: 100%; height: 100%;
	background-size: 90%;
	background-position: center;
}

#modal{
	display:flex;
	flex-direction:column;
	justify-content:center;
	
	position: fixed;
	left:0; top:0;
	right:0; bottom:0;
	width: 100vw; height: 100vh;
	background: rgba(0,0,0,0.8);
	z-index:9999;
}#modal.hide {display:none;}
.md-window{
	display:flex;
	justify-content:center;
}
.md-alert, .md-confirm{
	position:relative;
	display:flex;
	width:500px; height:200px;
	border: 2px solid white;
	border-radius: 3px;
	background: black;
}

.md-alert-message, .md-confirm-message{
	flex:1;
	font-size: 20px;
	font-weight: 900;
	margin:5px;
}
.md-alert-ok, .md-confirm-buttons{
	position:absolute;
	flex:0 1 auto;
	bottom:0; right:0;
	margin-bottom: 5px;
}
.md-alert-ok, .md-confirm-button, .md-item-content-button{
	background: black;
	border: 1px solid white;
	width:80px; height:32px;
	line-height: 32px;
	text-align: center;
	margin-right: 5px;
}
.md-item-content-button{
	width:70px; height:28px; line-height: 28px;
}
.md-alert-ok:hover, .md-confirm-button:hover, .md-item-content-button:hover{
	filter: invert(100%);
}
.md-confirm-buttons, .md-item-content-buttons{display:flex;}
.md-item-content-buttons{justify-content: flex-end;}
.md-confirm-yes, .md-item-save{
	color: orange;
	border: 1px solid orange;
}
.md-item{
	position:relative;
	display:flex;
	flex-direction:column;
	border:1px solid white;
	background:black;
	min-width:300px;
	max-width:500px;
	word-wrap: break-word;
}
.md-item-close{
	position:absolute;
	top:0; right:0;
	margin: 5px;
}
.md-item-content{
	position:relative;
	margin:30px 3px 3px 3px;
	padding-bottom:3px;
}
.md-item-content-edit, .md-item-content-input{
	position:absolute;
	width:100%; height:100%;
	top:0;
}
.md-item-content-input{border:1px solid orange; background:black; margin:-1px;}
.md-item-content-input.hide,
.md-item-content-buttons.hide,
.md-item-content-edit.hide{display:none;}

.md-item-content-input[contenteditable]:focus {outline: none;}

.md-item-files{
	
}
