@charset "UTF-8";

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    margin-right:2px;
    padding: 0;
}

label {
    font-weight: normal;
    display: inline-flex;
}


#favorites {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	
}

#favorites span.glyphicon.glyphicon-star {
	color: rgb(255, 172, 51);
}

/* @-webkit-keyframes favorite-star-bounce {
  0% {
    -webkit-transform: scale(2.0, 2.0);
  }
  50% {
    -webkit-transform: scale(2.2, 2.2);
  }
  100% {
    -webkit-transform: scale(2.0, 2.0);
  }
} */
/* @-webkit-keyframes favorite-star-bounce {
  0% {
    -webkit-transform: scale(1.0, 1.0);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
  }
} */

/* @keyframes favorite-star-bounce {
  0% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
} */

/* favorite-star[active] {
  color: #ffac33;
  animation: favorite-star-bounce 0.4s 1 ease-out;
  -webkit-animation: favorite-star-bounce 0.4s 1 ease-out;
}

favorite-star[hover] {
  
} 

.salary {
	display: inline;
}
*/





.search_button {
	float: right;
	width:100px;
	height:50px;
	margin-top: -50px;
}

.search_button > input {
	width: 100%;
	height: 100%
}

.star, .star_checked {
	width: 14px;
}

.star:hover, .star.checked {
	background-image: url("https://i.imgur.com/2MyBgnc.png");
	background-size: 14px;
}

.star.checked:hover {
	background-image: url();
}

.city_wrapper {
	border: 1px solid #cccccc;
}


div.detail_wrapper > div > span {
	 margin-right: 2%;
	 text-align: left;
}

div.detail_wrapper > div > span.water {
	 margin-right:0;
}

div.detail_wrapper > div > span.dropdown {
	margin-right:0;
}

div.detail_wrapper > div > span:first-child {
	 font-weight: 700;
	 margin-top: 7.5px;
	 margin-right: 0;
}


span.water > span {
	margin: 0 2%;
}

div.detail_wrapper {
	padding: 15px;
	padding-left: 0px;
	border: 1px solid #cccccc;
	border-top: 0px;
	
	margin-bottom:2%;
}

div.detail_wrapper > div {
	margin-bottom: 10px;
}



input[type="radio"] {
	margin-left: 2px;
	margin-right: 2px;
}


.gender > .gender_title {
    margin-right: 2%;
    font-weight: 700;
}

.gender > label {
    margin-right: 0.7%;
}

span.gender {
	margin-top:0.2%;
}
/*
  .career > span {
	margin-right: 2%
}
.education > span {
	margin-right: 2%;
	margin-bottom: 10px;
	margin-top: 10px;

}
.salary > span {
	margin-right: 2%
}

.age {
	margin-top:10px
} 


.career > .career_title {
	margin-right: 5%
}

.education > .education_title {
	margin-right: 5%
}

.salary > .salary_title {
	margin-right: 5%
}
.age > .age_title {
	margin-right: 5%
} 
.salary_title {
	margin-right: 2%
} */




.sectionContent {
	font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif;
 	max-width: 69.5%;
}

.showSelect {
    display: inline-block;
    cursor: pointer;
    /* margin: 4px 10px 15px 0 !important; */
    font-size: 14px;
    vertical-align: top;
    transition: all .3s ease-in-out;
}

.showSelect:hover {
    background-color: #dadada;
    transition: all .3s ease-in-out;
}
/* .showSelect .arrow {
    display: block;
    transition:All .2s ease;
    font-size: 15px;
    float: right;
    margin: -1px -6px -3px 9px;
    background-image: url('https://raw.githubusercontent.com/stevenoone/Checkbox-Menus/master/arrowDown.png');
    background-repeat: no-repeat;
    width: 23px;f
    height: 19px;
} */
/* 
@supports (overflow:-webkit-marquee) and (justify-content:inherit) { 
    .showSelect .arrow {
        margin: -1px -2px -3px 10px;
    }
} */

.showSelect.open {
    background-color: #dadada;
}

/* .showSelect.open .arrow {
    transform: rotate(180deg);
    margin: -1px -6px -3px 9px;
} */

/* @supports (overflow:-webkit-marquee) and (justify-content:inherit) { 
    .showSelect.open .arrow {
        transform: rotate(180deg);
        margin: -1px -2px -3px 10px;
    }
} */


.optContainer {
	display:none;
    background-color: #f2f2f2;
    padding: 15px;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.optContainer h5{
    clear: both;
    /* margin: 15px 0 10px 0; */
    padding-top: 15px;
    border-top: 1px solid #ccc;
    display:inline-block;
    width: 100%;
}

.optContainer h5 a{
    font-weight: normal;
    color: #0c6cc4;
}

.optContainer label {
    display: inline-block;
    width: 32%;
    color: #808080;
    font-size: 13px;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    margin-right: 5px;
}

@media (max-width: 640px) {
    .optContainer label {
        width: 48%;
    }
}
.optContainer label.checked {
    color: #000;
}

.optContainer input {
    margin-right: 10px;
}

.changes {
    margin: 10px -15px -15px -15px;
    background-color: #e5e5e5;
    padding: 15px;
    border-bottom: 1px solid #d0d0d0 !important;
}


.btn-primary {
    margin-top: 4px;
    border-radius: 3px;
    padding: 4px 12px;
    background-color: #ff8300;
    color: #fff;
    border: 1px solid #da7205;
    border-radius: 0px;
    padding: 10px 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}



.btn-primary:hover {
    background-color: #da7205;
    transition: all .3s ease-in-out;
}
.btn-secondary {
    /*  
    margin-top: 4px;
    margin-left: 10px;
    padding: 10px 15px;
    width: 5.56%;
    */
    width: 63.271px;
    border-radius: 3px;
    padding: 4px 12px;
    background-color: #f7f7f7;
    color: #444;
    border: 1px solid #999;
    border-radius: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
}

div.search_wrapper {
	
	width: 100%;
}

@-moz-document url-prefix() { 
    .btn-primary, .changes .btn-secondary {
        padding: 9px 15px;
    }
}

.showSelect {
}



/*Styling Selectbox*/
span.dropdown {
  width: 200px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
span.dropdown .select {
	border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    padding: 10px;
    
    border-radius: 4px;
    height: 34px;
    padding: 7px;
}
span.dropdown .select i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right
}
span.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
span.dropdown:active {
    background-color: #f8f8f8
}
span.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}
span.dropdown.active .select i {
    transform: rotate(180deg)
}
span.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
span.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
span.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
span.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
span.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}




div.center-block {
	text-align: center;
}


.pagination>li>a {
	cursor: pointer;
}