<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼 연결 -->
<mapper namespace="kr.co.vitamin.repository.mapper.AccountMapper">
	<resultMap type="account" id="accountMap">
		<result column="account_no" property="accountNo" />
		<result column="id" property="id" />
		<result column="pwd" property="pwd" />
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="address_no" property="addressNo" />
		<result column="email_token_no" property="emailTokenNo" />
		<result column="reg_date" property="regDate" />
		<result column="member_type" property="memberType" />
		<result column="email_token_status" property="emailTokenStatus" />

		<discriminator javaType="int" column="member_type">
			<case value="1" resultMap="memberMap"/>
			<case value="2" resultMap="companyMap"/>
		</discriminator>
	</resultMap>

	<resultMap type="member" id="memberMap" extends="accountMap">
		<result column="member_no" property="memberNo" />
		<result column="account_no" property="accountNo" />
		<result column="phone_number" property="phoneNumber" />
		<result column="birth_date" property="birthDate" />
		<result column="gender" property="gender" />
	</resultMap>
	
	<resultMap type="company" id="companyMap" extends="accountMap">
		<result column="company_no" property="companyNo" />
		<result column="account_no" property="accountNo" />
		<result column="license_number" property="licenseNumber" />
		<result column="company_name" property="companyName" />
		<result column="boss_name" property="bossName" />
		<result column="company_type" property="companyType" />
		<result column="buildup_date" property="buildupDate" />
		<result column="business_content" property="businessContent" />
		<result column="business_no" property="businessNo" />
		<result column="tel_number" property="telNumber" />
		<result column="homepage" property="homepage" />
		<result column="employee_count" property="employeeCount" />
		<result column="logo_no" property="logoNo" />
	</resultMap>
	
	
	<select id="selectOverlapIdCheck" resultMap="accountMap" parameterType="account">
		SELECT id FROM vi_account
		WHERE id=#{id} LIMIT 1
	</select>
	
	<insert id="insertAccount" parameterType="account">
		INSERT INTO vi_account
		(account_no, id, pwd, name, email, address_no, email_token_no, email_token_status, member_type)
		VALUES
		(#{accountNo}, #{id}, #{pwd}, #{name}, #{email}, #{addressNo}, #{emailTokenNo}, #{emailTokenStatus}, #{memberType})
	</insert>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO vi_member
		(account_no, phone_number, birth_date, gender)
		VALUES
		(#{accountNo}, #{phoneNumber}, #{birthDate}, #{gender})
	</insert>
	
	<insert id="insertCompany" parameterType="company">
		INSERT INTO vi_member
		(account_no, license_number, company_name, boss_name, company_type, buildup_date, business_content,
		 business_no, tel_number, homepage, employee_count, logo_no)
		VALUES
		(#{account_no}, #{license_number}, #{company_name}, #{boss_name}, #{company_type}, #{buildup_date},
		 #{business_content}, #{business_no}, #{tel_number}, #{homepage}, #{employee_count}, #{logo_no})
	</insert>
	
	<update id="updateEmailToken" parameterType="account">
		UPDATE vi_account SET
		email_token_status = #{emailTokenStatus}, email_token_no = null
		WHERE email_token_no = #{emailTokenNo}
		LIMIT 1
	</update>
	
	<select id="selectMemberType" parameterType="account" resultType="int">
		SELECT member_type FROM vi_account
		WHERE id=#{id} LIMIT 1
	</select>
	
	<select id="selectLoginAccount" parameterType="account" resultMap="accountMap">
		SELECT account.*, member.* 
		FROM vi_account AS account JOIN vi_member AS member 
		WHERE (account.id=#{id} AND account.pwd=#{pwd}) AND account.account_no = member.account_no;
	</select>
	
	<select id="selectNextAutoIncrement" resultType="int">
		<include refid="CommonMapper.getNextAutoIncrement">
			<property name="tableName" value="vi_account"/>
		</include>
	</select>
</mapper>