<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vitamin.repository.mapper.ActivityMapper">
	<resultMap type="activity" id="activityMap">
		<result column="activity_no" property="activityNo" />
		<result column="member_no" property="memberNo" />
		<result column="activity_name" property="activityName" />
		<result column="activity_perm" property="activityPerm" />
		<result column="activity_background" property="activityBackground" />
		<result column="activity_askagain" property="activityAskagain" />
	</resultMap>
	
	<select id="selectActivityByMemberNo" parameterType="int" resultMap="activityMap">
		select * from vi_activity
		where member_no = #{memberNo}
	</select>
	
	<insert id="insertActivity" parameterType="activity">
		insert into vi_activity (member_no, activity_name)
		values(#{memberNo},#{activityName})
	</insert>
	
	<update id="updateActivityName" parameterType="activity">
		update vi_activity
		set activity_name = #{activityName}
		where activityNo = #{activityNo}
	</update>
	<update id="updateActivityPerm" parameterType="activity">
		update vi_activity
		set activity_perm = #{activityPerm}
		where activityNo = #{activityNo}
	</update>
	<update id="updateActivityBackground" parameterType="activity">
		update vi_activity
		set activity_background = #{activityBackground}
		where activityNo = #{activityNo}
	</update>
	<update id="updateActivityAskagain" parameterType="activity">
		update vi_activity
		set activity_askagain = #{activityAskagain}
		where activityNo = #{activityNo}
	</update>
	
</mapper>