<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.vitamin.repository.mapper.ActivityFilesMapper">
	
	<resultMap type="activityFiles" id="activityFilesMap">
		<result column="at_file_no" property="atFileNo" />
		<result column="item_no" property="itemNo" />
		<result column="at_file_name" property="atFileName"/>
		<result column="at_file_origin" property="atFileOrigin"/>
		<result column="at_file_path" property="atFilePath"/>
	</resultMap>
	
	<select id="selectActivityFilesByActivityNo" parameterType="int" resultMap="activityFilesMap">
		select at_file_no, item_no
		from vi_activity_files
		where item_no in (
			select item_no
			from vi_activity_item
			where list_no in (
				select list_no
				from vi_activity_list
				where activity_no = #{activityNo}
			)
		)
	</select>
	
	<select id="selectActivityFilesByItemNo" parameterType="int" resultMap="activityFilesMap">
		select * from vi_activity_files
		where item_no = #{itemNo} 
	</select>
	
	<insert id="insertActivityFiles" parameterType="activityFiles">
		insert into vi_activity_files(item_no, at_file_name, at_file_origin, at_file_path)
		values(#{itemNo},#{atFileName},#{atFileOrigin},#{atFilePath})
	</insert>
	
	<delete id="deleteActivityFiles" parameterType="int">
		delete from vi_activity_files
		where at_file_no = #{atFileNo}
	</delete>
</mapper>