<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼 연결 -->
<mapper namespace="kr.co.vitamin.repository.mapper.CompanyMapper">
	
	<resultMap type="company" id="companyMap">
		<result column="company_no" property="companyNo" />
		<result column="account_no" property="accountNo" />
		<result column="license_number" property="licenseNumber" />
		<result column="company_name" property="companyName" />
		<result column="boss_name" property="bossName" />
		<result column="company_type" property="companyType" />
		<result column="buildup_date" property="buildupDate" />
		<result column="business_content" property="businessContent" />
		<result column="business_no" property="businessNo" />
		<result column="tel_number" property="telNumber" />
		<result column="homepage" property="homepage" />
		<result column="employee_count" property="employeeCount" />
		<result column="logo_no" property="logoNo" />
		<result column="bookmark_no" property="bookmarkNo" />
		<collection resultMap="fileMap" property="file" />
		<collection resultMap="recruitMap" property="recruitList" javaType="java.util.ArrayList" />
	</resultMap>
	
	<resultMap type="review" id="reviewMap">
		<result column="review_no" property="reviewNo" />
		<result column="company_no" property="companyNo" />
		<result column="member_no" property="memberNo" />
		<result column="score" property="score" />
		<result column="content" property="content" />
		<result column="reg_date" property="regDate" />
	</resultMap>
	
	<resultMap type="file" id="fileMap">
		<result column="file_no" property="fileNo" />
		<result column="original_name" property="originalName" />
		<result column="system_name" property="systemName" />
		<result column="file_size" property="fileSize" />
		<result column="file_path" property="filePath" />
	</resultMap>
	
	<resultMap type="recruit" id="recruitMap">
		<result column="recruit_no" property="recruitNo" />
		<result column="company_no" property="companyNo" />
		<result column="title" property="title" />
		<result column="career_state" property="careerState" />
		<result column="career_start" property="careerStart" />
		<result column="career_end" property="careerEnd" />
		<result column="school_level" property="schoolLevel" />
		<result column="year_pay" property="yearPay" />
		<result column="age" property="age" />
		<result column="gender" property="gender" />
		<result column="assigned_task" property="assignedTask" />
		<result column="form_service" property="formService" />
		<result column="recuruit_count" property="recuruitCount" />
		<result column="major" property="major" />
		<result column="recruit_date_start" property="recruitDateStart" />
		<result column="recruit_date_end" property="recruitDateEnd" />
		<result column="recruit_form" property="recruitForm" />
		<result column="recruit_form_file_no" property="recruitFormFileNo" />
		<result column="address_no" property="addressNo" />
		<result column="day_of_week" property="dayOfWeek" />
		<result column="master" property="master" />
		<result column="phone_number" property="phoneNumber" />
		<result column="recruiting_state" property="recruitingState" />
		<result column="year_pay_start" property="yearPayStart" />
		<result column="year_pay_end" property="yearPayEnd" />
		<collection resultMap="addressMap" property="addressVO" />
	</resultMap>
	
	<resultMap id="areaMap" type="area">
		<result column="area_code" property="areaCode" />
		<result column="city_code" property="cityCode" />
		<result column="name" property="name" />
	</resultMap>
	
	<resultMap id="cityMap" type="city">
		<result column="city_code" property="cityCode" />
		<result column="name" property="name" />
		<result column="sub_name" property="subName" />
	</resultMap>
	
	<resultMap type="address" id="addressMap">
		<result column="address_no" property="addressNo" />
		<result column="city_code" property="cityCode" />
		<result column="area_code" property="areaCode" />
		<result column="address" property="address" />
		<result column="address_main" property="addressMain" />
		<result column="post_code" property="postCode" />
		<result column="address_sub" property="addressSub" />
		<collection resultMap="cityMap" property="city"></collection>
		<collection resultMap="areaMap" property="area"></collection>
	</resultMap>
	
	<insert id="commentWrite" parameterType="review">
		insert into vi_review (company_no, member_no, score, content)
		values (#{companyNo}, #{memberNo}, #{score}, #{content})
	</insert>
	
	<select id="commentDetail" resultMap="reviewMap" parameterType="review">
		select review_no, member_no, score, content, reg_date from vi_review
		where company_no = #{companyNo} and review_no > #{page}*5 order by review_no desc limit 5
	</select>
	
	<select id="newCommentDetail" resultMap="reviewMap" parameterType="review">
		select review_no, member_no, score, content, reg_date from vi_review
		where review_no >= #{reviewNo} and company_no = #{companyNo} order by review_no desc
	</select>
	
	<select id="commentDetailPlus" resultMap="reviewMap" parameterType="review">
		select review_no, member_no, score, content, reg_date from vi_review
		where company_no = #{companyNo} and review_no &lt; #{reviewNo} order by review_no desc limit 5
	</select>
	
	<update id="commentModify" parameterType="review">
		update vi_review set
		score = #{score}, content = #{content}
		where member_no = #{memberNo} and review_no = #{reviewNo}
	</update>
	
	<delete id="commentDelete" parameterType="review">
		delete from vi_review
		where member_no = #{memberNo} and review_no = #{reviewNo}
	</delete>
	
	<select id="companyDetail" parameterType="review" resultMap="companyMap">
		select * from (select * from vi_company where company_no = #{companyNo}) company
		left join (select * from vi_bookmark where member_no = #{memberNo} and company_no = #{companyNo}) bookmark
		on company.company_no = bookmark.company_no
		left join vi_file
		on company.logo_no = vi_file.file_no
	</select>
	
	<select id="recruitDetail" parameterType="int" resultMap="recruitMap">
		select * from
		(select * from vi_recruit_write
		where company_no = #{companyNo}) recruit
        inner join vi_address
		on recruit.address_no = vi_address.address_no
        inner join vi_city_code
		on vi_address.city_code = vi_city_code.city_code
        inner join vi_area_code
		on vi_address.area_code = vi_area_code.area_code
	</select>
	
	<select id="recruitList" parameterType="int" resultMap="recruitMap">
		select
		recruit_no, title, recruit_date_start, recruit_date_end, year_pay
		from vi_recruit_write where 
	</select>
	
	<select id="lastAi" resultType="int">
		select LAST_INSERT_ID()
	</select>
	
	<select id="reviewInsertChk" parameterType="review" resultType="Integer">
		select max(review_no) from vi_review where member_no = #{memberNo} and company_no = #{companyNo}
	</select>
	
	<select id="reviewOneDetail" parameterType="int" resultMap="reviewMap">
		select * from vi_review where review_no = #{reviewNo}
	</select>
	
	<select id="bookmarkChk" parameterType="review" resultType="Integer">
		select count(*) from vi_bookmark where member_no = #{memberNo} and company_no = #{companyNo}
	</select>
	
	<insert id="bookmarkInsert" parameterType="review">
		insert into vi_bookmark (member_no, company_no)
		values (#{memberNo}, #{companyNo})
	</insert>
	
	<delete id="bookmarkRemove" parameterType="review">
		delete from vi_bookmark
		where member_no = #{memberNo} and company_no = #{companyNo}
	</delete>
	
</mapper>