<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼 연결 -->
<mapper namespace="kr.co.vitamin.repository.mapper.IntroductionMapper">

	<resultMap type="introduction" id="introductionMap">
		<result column="introduction_no" property="introductionNo" />
		<result column="member_no" property="memberNo" />
		<result column="introduction_title" property="introductionTitle" />
		<result column="introduction_cate" property="introductionCate" />
		<result column="introduction_content" property="introductionContent" />
		<result column="introduction_reg_date" property="introductionRegDate" />
		<result column="term" property="term" />
	</resultMap>

	<resultMap type="introductionCate" id="introductionCateMap">
		<result column="introduction_cate_no" property="introductionCateNo" />
		<result column="introduction_no" property="introductionNo" />
		<result column="introduction_cate" property="introductionCate" />
		<result column="introduction_content" property="introductionContent" />

	</resultMap>

	<insert id="insertIntroduction" parameterType="introduction">
		insert into
		vi_introduction
		(introduction_no,member_no,introduction_title,introduction_reg_date)
		values(#{introductionNo},#{memberNo},#{introductionTitle},now());
	</insert>

	<insert id="insertIntroductionCate" parameterType="introductionCate">
		insert into
		vi_introduction_cate(introduction_no,introduction_cate,introduction_content)
		value(#{introductionNo},#{introductionCate},#{introductionContent});
	</insert>

	<select id="selectIntroductionList" parameterType="introduction"
		resultMap="introductionMap">
		select * from (select
		*,TIMESTAMPDIFF(hour,introduction_reg_date,now()) AS term,@rownum :=
		@rownum + 1 as rownum
		from vi_introduction,(select @rownum := 0) R
		where member_no = #{memberNo} order by introduction_no desc)
		introduction
		where introduction.rownum between #{begin} and #{end} order by
		introduction_no desc

	</select>

	<select id="selectIntroduction" parameterType="int" resultMap="introductionMap">
		select * from vi_introduction where introduction_no=#{introductionNo}
	</select>

	<select id="selectIntroductionCate" parameterType="int"
		resultMap="introductionCateMap">
		select * from vi_introduction_cate where introduction_no
		=#{introductionNo}
	</select>

	<delete id="deleteIntroduction" parameterType="int">
		delete from
		vi_introduction where introduction_no=#{introductionNo}
	</delete>

	<delete id="deleteIntroductionCate" parameterType="int">
		delete from
		vi_introduction_cate where introduction_no = #{introductionNo}
	</delete>

	<select id="selectIntroductionCount" parameterType="int"
		resultType="int">
		select count(*) from vi_introduction where member_no =
		#{memberNo}
	</select>

	<update id="updateIntroduction" parameterType="introduction">
		update
		vi_introduction set introduction_title = #{introductionTitle} where
		introduction_no= #{introductionNo}

	</update>

	<update id="updateIntroductionCate" parameterType="introductionCate">
		update
		vi_introduction_cate set introduction_cate=#{introductionCate},
		introduction_content=#{introductionContent}
		where
		introduction_no=#{introductionNo} and introduction_cate_no =
		#{introductionCateNo}
	</update>

	<select id="selectIntroductionCateNo" parameterType="int"
		resultType="int">
		select introduction_cate_no from vi_introduction_cate where
		introduction_no= #{introductionNo}
	</select>

	<select id="selectIntroductionAll" parameterType="member"
		resultMap="introductionMap">
		SELECT * FROM vi_introduction
		WHERE member_no=#{memberNo}
		ORDER BY introduction_reg_date ASC
	</select>
	
	<select id="viewMemberCheck" parameterType="introduction" resultType="int">
		SELECT member_no FROM vi_introduction
		WHERE member_no = #{memberNo} AND introduction_no = #{introductionNo}
	</select>
	
	<select id="viewCompanyCheck" parameterType="map" resultType="int">
		SELECT member_no FROM vi_company_apply as main, (SELECT recruit_no FROM vi_recruit_write WHERE company_no = #{companyNo}) as bb
		WHERE
			introduction_no = #{introductionNo} AND
			main.recruit_no = bb.recruit_no
		LIMIT 1
	</select>

	<select id="selectNextAutoIncrementIntroduction" resultType="int">
		<include refid="CommonMapper.getNextAutoIncrement">
			<property name="tableName" value="vi_introduction" />
		</include>
	</select>
</mapper>