<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼 연결 -->
<mapper namespace="kr.co.vitamin.repository.mapper.LetterMapper">
	
	<resultMap type="letter" id="letterMap">
		<result column="letter_no" property="letterNo" />
		<result column="send_account_no" property="sendAccountNo" />
		<result column="recv_account_no" property="recvAccountNo" />
		<result column="read" property="read" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="send_date" property="sendDate" />
	</resultMap>
	
	<insert id="insertLetter" parameterType="letter">
		INSERT INTO vi_letter
		(send_account_no, recv_account_no, title, content)
		VALUES
		(#{sendAccountNo}, #{recvAccountNo}, #{title}, #{content})
	</insert>
	
	<select id="selectPageRecvFirstLetter" parameterType="int" resultType="int">
		SELECT letter_no FROM vi_letter WHERE recv_account_no = #{accountNo} ORDER BY send_date ASC LIMIT 1;
	</select>
	
	<select id="selectPageSendFirstLetter" parameterType="int" resultType="int">
		SELECT letter_no FROM vi_letter WHERE send_account_no = #{accountNo} ORDER BY send_date ASC LIMIT 1;
	</select>
	
	<select id="selectPageRecvLetterList" parameterType="map" resultMap="letterMap">
		<![CDATA[
		SELECT vi_letter.* FROM vi_letter, (SELECT send_date as last_date FROM vi_letter WHERE letter_no = #{lastLetterNo} AND recv_account_no = #{accountNo} LIMIT 1) AS oo
		WHERE oo.last_date < vi_letter.send_date AND vi_letter.recv_account_no = #{accountNo} ORDER BY vi_letter.send_date ASC LIMIT 0, 10
		]]>
	</select>
	
	<select id="selectPageSendLetterList" parameterType="map" resultMap="letterMap">
		<![CDATA[
		SELECT vi_letter.* FROM vi_letter, (SELECT send_date as last_date FROM vi_letter WHERE letter_no = #{lastLetterNo} AND send_account_no = #{accountNo} LIMIT 1) AS oo
		WHERE oo.last_date < vi_letter.send_date AND vi_letter.send_account_no = #{accountNo} ORDER BY vi_letter.send_date ASC LIMIT 0, 10
		]]>
	</select>
</mapper>
