<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼 연결 -->

<mapper namespace="kr.co.vitamin.repository.mapper.RecruitMapper">
	
	
	
	
	
	<insert id="insertRecruit" parameterType="recruit">
		INSERT INTO vi_recruit_write
		(
			title,
			company_no,
			career_state, 
			career_start, 
			career_end, 
			school_level, 
			year_pay_start,
			year_pay_end, 
			age_count_start, 
			age_count_end, 
			gender, 
			assigned_task, 
			form_service,
			recruit_count,  
			recruit_date_start, 
			recruit_date_end,
			recruit_form, 
			recruit_form_file_no,
			address_no, 
			day_of_week, 
			master, 
			phone_number, 
			recruiting_state
		)
		VALUES
		(
			#{title},
			#{companyNo},
			#{careerState},
			#{careerStart},
			#{careerEnd},
			#{schoolLevel},
			#{yearPayStart},
			#{yearPayEnd},
			#{ageCountStart},
			#{ageCountEnd},
			#{gender},
			#{assignedTask},
			#{formService},
			#{recruitCount},
			#{recruitDateStart},
			#{recruitDateEnd},
			#{recruitForm},
			#{recruitFormFileNo},
			#{addressNo},
			#{dayOfWeek},
			#{master},
			#{phoneNumber},
			#{recruitingState}
		)
	</insert>
</mapper>