<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼 연결 -->
<mapper namespace="kr.co.vitamin.repository.mapper.SearchMapper">
	
	<resultMap id="cityAndAreaMap" type="cityAndArea">
		<result column="area_code"  property="areaCode" />
		<result column="city_code"  property="cityCode" />
		<result column="area_name"  property="areaName" />
		<result column="sub_name"  property="subName" />
	</resultMap>
	
	<select id="selectCityAndArea" resultMap="cityAndAreaMap" >
		SELECT area_code, area.city_code, area.name as area_name, sub_name
			FROM vitamin.vi_area_code as area
 			 join vitamin.vi_city_code as city
			on area.city_code = city.city_code
	</select>
	
	<resultMap type="city" id="cityMap">
		<result column="city_code" property="cityCode" />
		<result column="name" property="name" />
		<result column="sub_name" property="subName" />
	</resultMap>
	
	<select id="selectCity" resultMap="cityMap">
		select * 
		from vi_city_code
	</select>
	
	
	<resultMap type="area" id="areaMap">
		<result column="area_code" property="areaCode" />
		<result column="city_code" property="cityCode" />
		<result column="name" property="name" />
	</resultMap>
	
	<select id="selectArea" resultMap="areaMap">
		select *
		from vi_area_code
	</select>
	
	
	
	
	
	
	
	<resultMap type="recruit" id="selectRecruitMap">
		<result column="title"  property="title" />
		<result column="recruit_no"  property="recruitNo" />
		<result column="company_no" property="companyNo" />
		<result column="career_state"  property="careerState" />
		<result column="career_end"  property="careerEnd" />
		<result column="career_start"  property="careerStart" />
		<result column="school_level"  property="schoolLevel" />
		<result column="year_pay_start"  property="yearPayStart" />
		<result column="year_pay_end"  property="yearPayEnd" />
		<result column="age_count_start"  property="ageCountStart" />
		<result column="age_count_end"  property="ageCountEnd" />
		<result column="gender"  property="gender" />
		<result column="assigned_task"  property="assignedTask" />
		<result column="form_service"  property="formService" />
		<result column="recruit_count"  property="recruitCount" />
		<result column="recruit_date_start"  property="recruitDateStart" />
		<result column="recruit_date_end"  property="recruitDateEnd" />
		<result column="recruit_form"  property="recruitForm" />
		<result column="recruit_form_file_no"  property="recruitFormFileNo" />
		<result column="address_no"  property="addressNo" />
		<result column="day_of_week"  property="dayOfWeek" />
		<result column="master"  property="master" />
		<result column="phone_number"  property="phoneNumber" />
		<result column="recruiting_state"  property="recruitingState" />
		<result column="form_service_name" property="formServiceName" />
		<result column="sub_name" property="subName" />
		<result column="name" property="name" />
		<result column="graduate_state" property="graduateState" />
		<collection resultMap="companyMap" property="company"></collection>
	</resultMap>
	
	<resultMap type="company" id="companyMap">
		<result column="company_no" property="companyNo" />
		<result column="account_no" property="accountNo" />
		<result column="license_number" property="licenseNumber" />
		<result column="company_name" property="companyName" />
		<result column="boss_name" property="bossName" />
		<result column="company_type" property="companyType" />
		<result column="buildup_date" property="buildupDate" />
		<result column="buisiness_no" property="businessNo" />
		<result column="tel_number" property="telNumber" />
		<result column="homepage" property="homepage" />
		<result column="employee_count" property="employeeCount" />
		<result column="business_content" property="businessContent" />
		<result column="logo_no" property="logoNo" />
	</resultMap>
	
	<select id="selectRecruit" resultMap="selectRecruitMap">
	select *
        from (select * from vi_recruit_write where recruiting_state = 1 and recruit_date_end > current_date()) recruit
		  join (select * from vi_form_service) form_service
		on recruit.form_service = form_service.form_service_type
		  join (select * from vi_school_level) school
		on recruit.school_level = school.level
		  join (select * from vi_address) address
		on recruit.address_no = address.address_no
          join (select * from vi_city_code) city
		on address.city_code = city.city_code
          join (select * from vi_area_code) area
		on address.area_code = area.area_code
		  join vi_company
	  	on recruit.company_no = vi_company.company_no 
		
		order by recruit_no desc
	</select>
	
	
	<select id="selectSearchCondition" parameterType="searchRecruit" resultMap="selectRecruitMap">
		select *
        from
        <!-- recruit -->
        (select * from vi_recruit_write
        where recruiting_state = 1 and recruit_date_end > current_date() 
	   		
	   		<if test="careerState != -1">
		   		<if test="careerState != null">
		   			and career_state = #{careerState}
		   		</if>
		   		
		   		<choose>
		   			<when test="careerOnly == 1 and careerStart == -1">
		   				and career_start >= 1
		   			</when>
			   		<when test="careerStart != -1">
			   			and career_start >= #{careerStart}
			   		</when>
		   		</choose>
		   		
		   		<choose>
		   			<when test="careerOnly == 1 and careerEnd == -1">
		   			</when>
			   		<when test="careerEnd != -1">
			   			and career_end &lt;= #{careerEnd}
			   		</when>
		   		</choose>
	   		</if>
	   		
	   		
	   		<if test="schoolLevelStart != -1 or schoolLevelEnd != -1">
				<choose>
					<when test="schoolLevelStart != -1 and schoolLevelEnd  == -1">
						and school_level >= #{schoolLevelStart}
					</when>
					
					<when test="schoolLevelStart == -1 and schoolLevelEnd  != -1">
						and school_level &lt;= #{schoolLevelEnd}
					</when>
					 
					<otherwise>
						and school_level between #{schoolLevelStart} and #{schoolLevelEnd}
					</otherwise>
				</choose>
			</if>	
			
			
	   		<if test="yearPayStart != -1 or yearPayEnd != -1">
				<choose>
					<when test="yearPayStart != -1 and yearPayEnd  == -1">
						and year_pay_start >= #{yearPayStart}
					</when>
					
					<when test="yearPayStart == -1 and yearPayEnd  != -1">
						and year_pay_End &lt;= #{yearPayEnd}
					</when>
					
					<otherwise>
						and year_pay_start >= #{yearPayStart}
						and year_pay_End &lt;= #{yearPayEnd}
					</otherwise>
				</choose>
			</if>	
			
			<if test="ageCountStart != -1 or ageCountEnd != -1">
				<choose>
					<when test="ageCountStart != -1 and ageCountEnd  == -1">
						and age_count_start >= #{ageCountStart}
					</when>
					
					<when test="ageCountStart == -1 and ageCountEnd  != -1">
						and age_count_end &lt;= #{ageCountEnd}
					</when>
					
					<otherwise>
						and age_count_start >= #{ageCountStart}
						and age_count_end &lt;= #{ageCountEnd}
					</otherwise>
				</choose>
			</if>	
			
			<if test="gender != -1">
				and gender = #{gender} 
				
			</if>
			 
			
			
        ) recruit
        
        
		
		<!-- form_service -->
		 join (select form_service_name, form_service_type from vi_form_service) form_service
			on recruit.form_service = form_service.form_service_type
		
		<!-- school -->
		 join (select graduate_state, level as school_level from vi_school_level) school
			on recruit.school_level = school.school_level
		 
		<!-- address -->
		 join (select address_no, city_code, area_code from vi_address) address
			on recruit.address_no = address.address_no
        
        <!-- city -->
		 join (select sub_name, city_code from vi_city_code) city
		 	on address.city_code = city.city_code
         
        <!-- area -->
         join (select area_code, name from vi_area_code) area
		 	on address.area_code = area.area_code
		
		<!-- company -->
		 join vi_company
	  	on recruit.company_no = vi_company.company_no  	
		 	
		 <if test="areaCode != null">
	  		where area.area_code in 
	   			<foreach item="aCode" index="index" collection="areaCode" 
	   				open="(" separator="," close=")">
	   				#{aCode}
	   			</foreach>
	   		</if>
		 order by recruit_no desc
	</select>
</mapper>